body{
  font-family: "Trirong", serif;
  margin:0px auto;
  background: #3c3c3c;
}

nav > ul{
  position: fixed;
  margin-top: 0px;
  width: auto;
  background: #2c3e50;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 0px;
}

nav > ul > li{
  display: flex;
  align-items: center;
  padding: 0px;
}

nav > ul > li > a{
  color: white;
  text-decoration: none;
  padding: 10px;
}
nav > ul > li:not(:last-child) { border-right: 1px solid #ccc; }
/* action affect */
nav > ul > li:hover {
  background: #34495e;
}

nav > ul > li > a:hover{
  color: #68a9d4;
}


.nav-dark{ background: #2c3e50; }

/* theme design */
.nav-light{ background: #ecf0f1; }
.nav-light > ul > li { color: #2c3e50; }
.nav-light > ul > li > a { color: #2c3e50; }

#main-frame{
  display: flex;
  justify-content: left;
  align-items: center;
  height: 100vh;
  background: url('roman.jpg') no-repeat center center fixed;
}

.blur-text-box{
  padding: 0px 20px;
  box-shadow: 0px 0px 10px #ccc;

  background: rgba(255,255,255,0.2);
}

#second-frame{
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  background: url('fauxels.jpg') no-repeat center center fixed;
}

.middle-layer{
  height: 50px;
}

.frame-fixtor{
  padding:20px 0px;
}

.btn-join-now{
  background: #34495e;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.text-box{
  display: block;
  width: 100%;
  padding: 20px;
  text-align:center;
}

.bright-text-light{
  text-shadow: 5px 5px 10px white;
}